/*rgb(48, 104, 141); цвет текста*/
/*	background: rgb(225, 231, 231) серый фон*/

body{
	background-repeat: no-repeat;
	background: white;
	margin: 0;
	padding: 0;
	text-align: center;
}
.form{
	position: absolute;
	top: 80%;
}
.users{
	font-size: 18px;
	background: #C3CDCE;
	position: absolute;
	width: 44%;
	height: 6%;
	border: solid 0px;
	border-color: none;
	border-radius: 4px;
	top: 20%;
	left: 28%;
}
.nameMeeting{
	font-size: 18px;
	background: #C3CDCE;
	position: relative;
	width: 44%;
	height: 6%;
	border: solid 0px;
	border-color: none;
	border-radius: 4px;
	top: 10%;
	left: 28%;
}
.create{
	position: absolute;
	background: #7DDDD2;
	color: white;
	border: 0px;
	border-radius: 4px;
	font-size: 120%;
	top: 30%;
	left: 45%;
	width: 10%;
	height: 8%;
}
.box{
	display: grid;
	grid-template-columns: 25% 25%;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 30%;
	background: white;
	left: 28%;
	top: 42%;
}
.user-box{
	text-align: center;
	font-size: 130%;
	border: solid 1px;
	border-radius: 4px;
	position: relative;
	width: 75%;
	height: 15%;
	border-color: #C3CDCE;
}
.form{
	position: absolute;
	text-align: left;
	width: 100%;
	height: 80%;
	top: 30%;
}
#nameUser{
	position: absolute;
	top: 0;
	background: none;
	font-size: 300%;
	color: #306879;
	position: absolute;
	left: 45%;
}
#text{
	font-family: Monotype Corsiva;
	font-style: normal;
	text-align: left;
	color: black;
	position: absolute;
	left: 20%;
	top: 25%;
	width: 30%;
	font-size: 180%;
	border-bottom: solid 3px;
	border-color: #7DDDD2;
}
#enterToMeeting{
	position: absolute;
	left: 70%;
	top: 25%;
	font-size: 150%;
	color: #7DDDD2;
}
.link{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 23%;
	top: 14%;
}
.copy{
	position: relative;
	background: rgb(125, 221, 210);
	font-size: 100%;
	border: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	color: white;
}
.ref{
	position: relative;
	background: rgb(225, 231, 231);
	left: 2%;
	font-size: 100%;
	border: 0px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 30%;
	color: black;
}
#meeting{
	top: 1%;
	width: 100%;
	position: absolute;
	text-align: center;
	color: rgb(48, 104, 141);
}
#complet,#complet-admin{
	border: none;
	border-radius: 8px;
	background: rgb(125, 221, 210);
	color: white;
	position: absolute;
}
.cost, .timer{
	position: absolute;
	border-radius: 8px;
	text-align: center;
	color: rgb(48, 104, 141);
	background: rgb(225, 231, 231);
}
.cost-admin, .timer-admin{
	position: absolute;
	border-radius: 8px;
	text-align: center;
	color: rgb(48, 104, 141);
	background: rgb(225, 231, 231);
}
.cost-text, .timer-text{
	font-size: 140%;
}
@media only screen and (min-width: 600px) { /* pc*/
	#timer, #cost{
		font-size: 500%;
	}
	.timer{
		width: 38%;
		height: 33%;
		top: 30%;
		left: 10%;
	}
	.cost{
		width: 38%;
		height: 33%;
		top: 30%;
		left: 50%;
	}
	.timer-admin{
		width: 38%;
		height: 33%;
		top: 40%;
		left: 10%;
	}
	.cost-admin{
		width: 38%;
		height: 33%;
		top: 40%;
		left: 50%;
	}
	#meeting{
		font-size: 400%;
	}
	.copy, .ref{
		top: 60%;
		height: 31%;
	}
	.ref{
		width: 40%;
	}
	#complet{
		top: 70%;
		left: 43%;
		width: 10%;
		height: 10%;
		font-size: 130%;
	}
	#complet-admin{
		top: 80%;
		left: 43%;
		width: 10%;
		height: 10%;
		font-size: 130%;
	}
}
@media only screen and (max-width: 599px) {/* mobile*/
	#timer, #cost{
		font-size: 300%;
	}
	#meeting{
		font-size: 250%;
	}
	.timer, .timer-admin{
		width: 80%;
		height: 25%;
		top: 30%;
		left: 10%;
	}
	.cost, .cost-admin{
		width: 80%;
		height: 25%;
		top: 60%;
		left: 10%;
	}
	.copy, .ref{
		top: 10%;
		height: 32%;
	}
	.ref{
		width: 60%;
	}
	#complet, #complet-admin{
		top: 88%;
		left: 35%;
		width: 30%;
		height: 10%;
		font-size: 130%;
	}
}	
.registration-box{
	display: block;
	outline: none;
	text-decoration: none;
	position: absolute;
	align-items: center;
	height: 70%;
	width: 100%;
	top: 20%;
}
.registration-box {
	display: block;
	position: absolute;
	top: 0;
	outline: none;
	text-decoration: none;
	align-items: center;
	height: 100%;
	width: 100%;
}
.registration-box input[type="password"], input[type="email"]{
	background: rgb(195, 205, 206);
	border: none; 
	border-radius: 8px;
	height: 80%;
	color: rgb(99,103,104);
}
.registration-box input[type="submit"]{
	border: none;
	border-radius: 8px;
	position: absolute;
	color: white;
	background: rgb(125, 221, 210);
}
.email, .password{
	height: 10%;
}
.login{
	position: relative;
	text-align: left;
	color: rgb(48, 104, 141);
}
@media only screen and (min-width: 600px) { /* pc*/
	.login{
		left: 35%;
		font-size: 215%;
	}
	.registration-box input[type="submit"]{
		top: 50%;
		left: 43%;
		font-size: 150%;
		width: 14%;
		height: 10%;
	}
	.registration-box input[type="password"], input[type="email"]{
		width: 30%;
	}
}
@media only screen and (max-width: 599px) {/* mobile*/
	.login{
		left: 20%;
		font-size: 155%;
	}
	.registration-box input[type="submit"]{
		top: 70%;
		left: 39%;
		font-size: 150%;
		width: 18%;
		height: 10%;
	}
	.registration-box input[type="password"], input[type="email"]{
		width: 60%;
	}
	.email, .password{
		position: relative;
		top: 10%;
	}
}
.userName{
	color: rgb(48, 104, 141);
	font-size: 150%;
	margin-bottom: 5%;
	position: relative;
}
.enterMeeting-text {
	text-decoration: none;
	color: rgb(0,0,0);
	position: relative;
	border-bottom: solid 4px;
	border-color: rgb(125, 221, 210);
	margin-bottom: 5%;
}
.refToMeeting{
	position: relative;
	width: 100%;
	color: rgb(99,103,104);
}
.refToMeeting input{
	background: rgb(195, 205, 206);
	border: none; 
	border-radius: 8px;
	color: rgb(99,103,104);
}
.enterButton{
	position: relative;
	height: 20%;
	width: 100%;
}
.enterButton input{
	border: none;
	border-radius: 8px; 
	background: rgb(125, 221, 210);
	color: white;
}
@media only screen and (min-width: 600px) { /*pc*/
	.userEnter{
		top: 10%;
	}
  	.userImg{
		position: absolute;
		left: 33%;
		top: 3%;
	}
	.enterButton input{
		width: 8%;
		height: 38%;
		font-size: 150%;
	}
	.enterButton{
		top: 8%;
	}
	.refToMeeting{
		width: 100%;
		top: 6%;
		height: 12%;
	}
	.refToMeeting input{
		width: 50%;
		height: 55%;
		color: rgb(99,103,104);
	}
	.enterMeeting-text {
		font-size: 150%;
		left: 25%;
		width: 50%;
		height: 4%;
		top: 10%;
	}

	.adminEnterMeeting-text{
		font-size: 150%;
		left: 20%;
		width: 60%;
		height: 6%;
		margin-bottom: 5%;
	}
	.adminEnterMeeting-text a{
		left: 15%;
	}
	.adminEnterMeeting-text p{
		width: 50%;
		font-size: 120%;
	}
	#enter{
		width: 30%;
		bottom: 0%;
		left: 75%;
	}
	.createMeeting{
		width: 100%;
		height: 10%;
	}
	.createMeeting input, select{
		width: 50%;
		height: 55%;
	}
	.createButton{
		height: 20%;
		top: 8%;
	}
	.createButton input{
		width: 12%;
		height: 34%;
		font-size: 150%;
	}
	.currentUsers{
		grid-template-columns: 49% 49%;
		grid-gap: 5%;
		left: 25%;
		width: 50%;
		height: 30%;
		top: 6%;
	}
	.currentUser{
		max-height: 40%; 
	}
}
@media only screen and (max-width: 599px) {/*mobile*/
  	.userEnter{
		top: 5%;
	}
  	.userImg{
		position: absolute;
		left: 5%;
		top: 0%;
	}
	.enterButton input{
		width: 28%;
		height: 44%;
		font-size: 150%;
	}
	.enterButton{
		top: 24%;
	}
	.refToMeeting{
		width: 100%;
		top: 8%;
		height: 15%;
	}
	.refToMeeting input{
		width: 80%;
		height: 65%;
		color: rgb(99,103,104);
	}
	.enterMeeting-text {
		font-size: 150%;
		left: 10%;
		width: 80%;
		height: 4%;
		top: 3%;
	}
	.enterMeeting-text p{
		position: relative;
		left: 10%;
		width: 80%;
	}

	.adminEnterMeeting-text{
		font-size: 120%;
		left: 10%;
		width: 80%;
		height: 16%;
		margin-bottom: 1%;
	}
	.adminEnterMeeting-text a{
		top: 0%;
		font-size: 150%;
		left: 15%;
	}
	.adminEnterMeeting-text p{
		width: 60%;
		font-size: 150%;
	}
	#enter{
		width: 40%;
		bottom: 0%;
		left: 80%;
	}
	.createMeeting{
		width: 100%;
		height: 40%;
	}
	.createMeeting input, select{
		width: 80%;
		height: 25%;
	}
	.createButton{
		height: 10%;
		top: 15%;
	}
	.createButton input{
		width: 28%;
		height: 84%;
		font-size: 150%;
	}
	.currentUsers{
		grid-template-columns: 49% 49%;
		grid-gap: 5%;
		left: 10%;
		width: 80%;
		height: 30%;
		top: 0%;
	}
	.currentUser{
		max-height: 50%; 
	}
}
#text-1{
	position: relative;
	width: 50%;
	font-size: 120%;
	left: 55%;
	text-align: right;
	}
#enter-1{
	font-size: 120%;
	color: rgb(125, 221, 210);
	width: 30%;
	bottom: 0%;
	left: 5%;
}
.adminEnterMeeting-text{
	text-decoration: none;
	position: relative;
}
.adminEnterMeeting-text p{
	text-align: left;
	border-bottom: solid 4px;
	border-color: rgb(125, 221, 210);
}
#enter{
	text-decoration: none;
	color: rgb(125, 221, 210);
	position: absolute;
	font-size: 120%;
	text-align: left;
}
.adminEnterMeeting-text a{
	text-decoration: none;
	color: rgb(0,0,0);
	position: absolute;
}
.createMeeting{
	position: relative;
	color: rgb(99,103,104);
}
.createMeeting input, select{
	background: rgb(195, 205, 206);
	border: none; 
	border-radius: 8px;
	color: rgb(99,103,104);
}
.userEnter{
	position:absolute;
	height: 90%;
	width: 100%;
}
.createMeeting select{
	position: relative;
	top: 20%;
	left: 0;
}
.createButton{
	position: relative;
	width: 100%;
}
.createButton input{
	border: none;
	border-radius: 8px; 
	background: rgb(125, 221, 210);
	font-size: 150%;
	color: white;
}
input:focus{
	outline: none;
}
select:focus{
	outline: none;
}
.currentUsers{
	display: grid;
	position: relative;
}
.currentUser{
	color: black;
	background: none;
	border: 1px solid;
	border-radius: 8px;
	border-color: rgb(195,205,206);; 
}