/*rgb(48, 104, 141); цвет текста*/
/*	background: rgb(225, 231, 231) серый фон*/
:root{
	--royalBlue: #604eee;
	--silver: #DDDDDD;
	--zircon: #F1F1F1;
	--monsoon: #BABDC2;
}

*{
	font-family: "Rubik";
	/* font-weight: bold; */
}

/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElcWfwWb-6bB_.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElcWfwWD-6bB_.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElcWfwWz-6bB_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'), url(https://fonts.gstatic.com/s/rubik/v9/iJWBBXyIfDnIV7nElcWfwWL-6Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





body{
	background-repeat: no-repeat;
	background: white;
	margin: 0;
	padding: 0;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"]{
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--silver);
	background: white;
	color: var(--monsoon);
}
input{
	cursor: pointer;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"]{
	padding-left: 10px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus{
	color: black;
 	outline: none;
}
input[type="button"]:focus,input[type="submit"]:focus{
	outline: none;
}
a{
	text-decoration: none;
	color: var(--royalBlue);
	cursor: pointer;
}
h1{
	font-weight: 500;
}
h2{
	font-weight: bold;
}
.enterButton{
	text-align: center;
	height: 100%;
	width: 90%;
}
.enterButton input{
	font-size: 120%;
	min-width: 15%; 
	min-height: 42%;
	border: none;
	border-radius: 4px;
	background: var(--royalBlue);
	color: white;
}
.createButton{
	text-align: center;
	height: 100%;
	width: 90%;
}
.createButton input{
	font-size: 120%;
	min-width: 22%;
	min-height: 80%;
	border: none;
	margin-bottom: 200px;
	border-radius: 4px;
	background: var(--royalBlue);
	color: white;
}
.wrapper{
    display: grid;
   	grid-gap: 10px;
    grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    grid-template-rows: [row] 30% [row] 30% [row] 25% [row] 30%;
}
.wrapper-login{
    display: grid;
   	grid-gap: 10px;
    grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    grid-template-rows: [row] 25% [row] 10% [row] 10% [row] 30%;
}
.wrapper-createMeeting{
    display: grid;	
   	grid-gap: 10px;
    grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    grid-template-rows: [row] 15% [row] 10% [row] 7% [row] 7% [row] 10% [row] 7%;
}
.wrapper-meetingAmdin{
	display: grid;
   	grid-gap: 10px;
    grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    grid-template-rows: [row] 8% [row] 10% [row] 5% [row] 20% [row] 5%;
}
.wrapper-meetingUser{
	display: grid;
   	grid-gap: 10px;
    grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    grid-template-rows: [row] 8% [row] 10% [row] 20%;
}
.wrapper-director{
	display: grid;
   	grid-gap: 10px;
    grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    grid-template-rows: [row] 12% [row] 12% [row] 60%;
}
.row{
/*	background: blue;*/
	border-radius: 5px;
	padding: 20px;
	padding-bottom: 0px;
	padding-left: 90px;
	padding-right: 90px;
}
.a {
	grid-column: col / span 2;
	grid-row: row ;
}
.a-1 {
	grid-column: col / span 4;
	grid-row: row ;
}
.b {
	grid-column: col 3 / span 2;
	grid-row: row ;
}
.c {
	grid-column: col / span 4;
	grid-row: row 2;
}
.d {
	grid-column: col / span 4;
	grid-row: row 3;
}
.e {
	grid-column: col / span 4;
	grid-row: row 4;
}
.f {
	grid-column: col / span 4;
	grid-row: row 5;
}
.g {
	grid-column: col / span 4;
	grid-row: row 6;
}

.b-1 {
	grid-column: col / span 4;
	grid-row: row 2;
}
.c-1 {
	grid-column: col / span 4;
	grid-row: row 3;
}
.d-1 {
	grid-column: col / span 2;
	grid-row: row 4;
}
.e-1 {
	grid-column: col 3 / span 2;
	grid-row: row 4;
}
.f-1 {
	grid-column: col / span 4;
	grid-row: row 5;
}
.d-2 {
	grid-column: col  / span 2;
	grid-row: row 3;
}
.e-2 {
	grid-column: col 3 / span 2;
	grid-row: row 3;
}

.a-3 {
	grid-column: col / span 2;
	grid-row: row ;
}
.b-3 {
	grid-column: col 3 / span 2;
	grid-row: row ;
}
.c-3 {
	grid-column: col / span 2;
	grid-row: row 2;
}
.d-3 {
	grid-column: col 3 / span 2;
	grid-row: row 2;
}
.e-3 {
	grid-column: col / span 4;
	grid-row: row 3;
}

.enter{
	text-align: right;
	font-size: 130%;
	margin-top: 85px;
}
#enter-1{
	font-size: 150%;
}
#buttonRay{
	background: none;
	border: none;
	color: black;
	font-size: 80%;
}
.text-1, .text-1-1{
	color: var(--royalBlue);
	text-align: left;
	height: 100%;
	width: 100%;
	font-size: 150%;
}
.text-1-1 h1{
	margin-bottom: 600px;
}
.userName{
	text-align: left;
	display: inline-block;
	margin-bottom: 100px;
	/* position: relative; */
}
.userName a{
	display: none;
}
.refToMeeting{
	min-width: 100%;
	min-height: 100%;
	/* text-align: left; */
	margin-top: 0px;
}
.refToMeeting input{
	min-width: 80%;
	min-height: 40px;
}

.users{
	font-size: 18px;
	background: #C3CDCE;
	position: absolute;
	width: 44%;
	height: 6%;
	border: solid 0px;
	border-color: none;
	border-radius: 4px;
	top: 20%;
	left: 28%;
}
.nameMeeting{
	font-size: 18px;
	background: #C3CDCE;
	position: relative;
	width: 44%;
	height: 6%;
	border: solid 0px;
	border-color: none;
	border-radius: 4px;
	top: 10%;
	left: 28%;
}
.create{
	position: absolute;
	background: #7DDDD2;
	color: white;
	border: 0px;
	border-radius: 4px;
	font-size: 120%;
	top: 30%;
	left: 45%;
	width: 10%;
	height: 8%;
}


#rise, #enter-2{
	display: none;
}

.login{
	text-align: center;
	color: var(--royalBlue);
	font-size: 200%;
	margin-bottom: 360px;
}
.login-button{
	height: 100%;
	width: 100%;
	text-align: center;
}
.login-button input{
	margin-top: 30px;
	border: none;
	border-radius: 4px;
	background: var(--royalBlue);
	color: white;
	font-size: 120%;
	min-width: 16%;
	min-height: 24%;
}
.email, .password{
	width: 100%;
	height: 100%;
	text-align: center;
}
.email input, .password input{
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--silver);
	color: var(--monsoon);
	background: white;
	min-width: 80%;
	min-height: 90%;
}
.password input{
	margin-bottom: 100px;
}


.createMeeting, .selectUser{
	height: 100%;
	width: 100%;
	text-align: center;
}
.createMeeting input, .selectUser select{
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--silver);
	color: var(--monsoon);
	background: white;
	margin-bottom: 200px;
	min-width: 100%;
	min-height: 70%;
}

.link{
	height: 100%;
	width: 100%;
	text-align: left;
}
.link input[type="button"]{
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--royalBlue);
	color: var(--royalBlue);
	background: white;
	min-width: 15%;
	min-height: 100%;
}
.link input[type="url"]{
	min-width: 75%;
	min-height: 80%;
}
.complete{
	height: 100%;
	width: 100%;
	text-align: center;
}
.complete input{
	border: none;
	border-radius: 4px;
	background: var(--royalBlue);
	color: white;
	margin-right: 100px;
	min-height: 110%;
	min-width: 14%;
	font-size: 120%;
}
.timer-admin, .cost-admin{
	background: white;
	border: 2px solid;
	border-color: silver;
	border-radius: 4px;
	min-height: 100%;
	min-width: 105%;
	text-align: center;
}
.cost-admin{
	margin-left: -130px;
	margin-right: 130px;
	min-width: 105%;
}
#timer, #cost{
	color: var(--royalBlue);
	font-size: 450%;
}
.filter-button{
	cursor: pointer;
	text-align: right;
	text-decoration: underline;
	/* margin-top: 55px; */
	color: var(--royalBlue);
	font-size: 140%;
}
.filter-button img{
	width: auto;
	height: 41px;
}
.statistics{
	height: 100%;
}
.boxes{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: [col] 50% [col] 24% [col] 24%;
    grid-template-rows: [row] 100%;
	min-height: 100%; 
}
.box-1, .box-2, .box-3{
	border-radius: 4px;
	background: var(--zircon);
	min-height: 100%;
	min-width: 20%;
}
.box-1{
	grid-column: col / span 1;
	grid-row: row ;
}
.box-2{
	grid-column: col 2 / span 1;
	grid-row: row ;
}
.box-3{
	grid-column: col 3 / span 1;
	grid-row: row ;
}
.grid-colums{
	position: relative;
	color: black;
	bottom: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 50% 24% 24%;
	grid-template-rows: 10% repeat(40, 6%);
	grid-gap: 1%;
}
.grid-headers{
	text-align: center;
	padding-top: 20px;
}
.colums{
	padding-top: 12px;
	padding-left: 15px;
}
.colums, .grid-headers{
	border-bottom: 2px solid;
	border-color: var(--monsoon);
}
.currentUsers{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 2%;
}
.currentUser{
	background: none;
	border: 2px solid;
	border-radius: 4px;
	border-color: silver;
	/* font-size: 120%; */
	/* max-height: 20%; */
}
#exit-1{
	display: none;
}
#enter-2, #exit-1{
	position: absolute;
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--silver);
/*	margin-bottom: 100px;*/
	text-align: center;
	font-size: 70%;
	background: white;
	padding-top: 20px;
	box-shadow: -1px 0px 45px 1px var(--monsoon);
}
#exit-1{
	min-width: 140px;
	height: 45px;
	margin-left: 140px;
}
.filter{
	display: none;
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--silver);
	background: white;
	position: relative;
	left: 50%;
	width: 59%;
	height: 100%;
	bottom: 200%;
	z-index: 1;
}
.filter h1{
	color: var(--royalBlue);
}
.filter select{
	border: 2px solid;
	border-radius: 4px;
	border-color: var(--silver);
}
.filter input, .filter select{
	height: 45px;
	width: 140px;
}
.dropping{
	border-color: var(--royalBlue);
	background: white;
	font-size: 100%;
	border-radius: 4px;
}
.apply{
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 100%;
	background: var(--royalBlue);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 980px){
	input::placeholder{
		font-size: 110%;
	}
	input[type="text"], input[type="email"],input[type="password"], input[type="url"]{
		padding-left: 30px;
	}
	.login{
		font-size: 350%;
		margin-bottom: 660px;
	}
	.login-button{
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.login-button input{
		margin-top: 30px;
		font-size: 350%;
		min-width: 44%;
		min-height: 26%;
	}
	.email input, .password input{
		min-width: 100%;
		min-height: 90%;
		font-size: 350%;
	}
	.password input{
		margin-bottom: 0px;
	}
	.UserName h1{
		font-size: 450%;
	}
	.row{
/*		background: rgb(15,66,99);*/
		border-radius: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 60px;
		padding-right: 60px;
	}
	.wrapper{
   		display: grid;
   		grid-gap: 10px;
   	 	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
  	  	grid-template-rows: [row] 30% [row] 30% [row] 25% [row] 30%;
	}
	.wrapper-login{
   	 	display: grid;
   		grid-gap: 10px;
    	grid-template-columns: [col] 25% [col] 24% [col] 24% [col] 24%  ;
    	grid-template-rows: [row] 25% [row] 20% [row] 20% [row] 45%;
	}
	.wrapper-createMeeting{
    	display: grid;	
   		grid-gap: 10px;
   	 	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    	grid-template-rows: [row] 15% [row] 16% [row] 16% [row] 16% [row] auto [row] 14%;
	}
	.wrapper-meetingAmdin{
		display: grid;
   		grid-gap: 10px;
   	 	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
   	 	grid-template-rows: [row] 8% [row] 7% [row] 4% [row] 19% [row] 19% [row] 5%;
	}
	.wrapper-meetingUser{
		display: grid;
   		grid-gap: 10px;
    	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
   	 	grid-template-rows: [row] 8% [row] 7% [row] 19% [row] 19%;
	}
	.wrapper-director{
		display: grid;
   		grid-gap: 10px;
    	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    	grid-template-rows: [row] 12% [row] 8% [row] 6% [row] 60%;
	}
	.a {
		grid-column: col / span 4;
		grid-row: row ;
	}
	.a-1 {
		grid-column: col / span 4;
		grid-row: row ;
	}
	.b {
		grid-column: col / span 2;
		grid-row: row 2;
	}
	.c {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.d {
		grid-column: col / span 4;
		grid-row: row 3;
	}
	.e {
		grid-column: col / span 4;
		grid-row: row 4;
	}
	.f {
		grid-column: col / span 4;
		grid-row: row 5;
	}
	.g {
		grid-column: col / span 4;
		grid-row: row 6;
	}

	.b-1 {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.c-1 {
		grid-column: col / span 4;
		grid-row: row 3;
	}
	.d-1 {
		grid-column: col / span 4;
		grid-row: row 4;
	}
	.e-1 {
		grid-column: col / span 4;
		grid-row: row 5;
	}
	.f-1 {
		grid-column: col / span 4;
		grid-row: row 6;
	}
	.d-2 {
		grid-column: col  / span 4;
		grid-row: row 3;
	}
	.e-2 {
		grid-column: col / span 4;
		grid-row: row 4;
	}

	.a-3 {
		grid-column: col / span 4;
		grid-row: row ;
	}
	.b-3 {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.c-3 {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.d-3 {
		grid-column: col / span 4;
		grid-row: row 3;
	}
	.e-3 {
		grid-column: col / span 4;
		grid-row: row 4;
	}
	#enter-1{
		display: none;
	}
	.text-1, .text-1-1{
		margin: 0;
		font-size: 250%;
		background-color: white;
	}
	#text-1{
		margin: 0;
	}
	.refToMeeting input{
		min-width: 100%;
		min-height: 100px;
		font-size: 300%;
	}
	.enterButton{
		text-align: center;
		height: 100%;
		width: 100%;
	}
	.enterButton input{
		font-size: 350%;
		min-width: 44%;
		min-height: 66%;
	}
	.createMeeting input, .selectUser select{
		font-size: 300%;
		height: 80%;
		width: 100%;
	}
	.currentUser{
		font-size: 280%;
	}
	.createButton input{
		font-size: 350%;
		min-width: 44%;
		min-height: 96%;
		margin-bottom: 0;
	}
	.link input[type="button"]{
		margin-top: 100px;
		min-width: 23%;
		min-height: 90px;
		font-size: 100%;
	}
	.link input[type="url"]{
		margin-top: 100px;
		min-width: 72%;
		min-height: 80px;
		font-size: 200%;
	}
	.complete{
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.complete input{
		margin-right: 0;
		min-width: 44%;
		min-height: 140%;
		font-size: 350%;
	}
	.timer-admin, .cost-admin{
		min-height: 25%;
		min-width: 100%;
	}
	.timer-admin{
		margin-top: 120px;
		margin-bottom: 340px;
	}
	.cost-admin{
		margin: 0;
		margin-top: 50px;
	}
	#cost-admin{
		margin-top: 100px;
	}
	.cost-text, .timer-text{
		font-size: 300%;
	}
	#timer, #cost{
		font-size: 700%;
	}
	.grid-colums{
		grid-template-columns: 50% 25% 25%;
		grid-template-rows: 15% repeat(40, 6%);
		grid-gap: 0%;
		height: 100%;
	}
	.currentUsers{
		grid-template-columns: 50% 50%;
		grid-gap: 2%;
	}
	.boxes{
		grid-gap: 0;
		grid-template-columns: [col] 50% [col] 25% [col] 25%;
		min-height: 100%; 
	}
	#rise{
		margin-left: 760px;
		margin-top: -85px;
		font-size: 80%;
		display: block;
		border: none;
		background: none;
		color: var(--royalBlue);
	}
	.rise{
		margin-left: 360px;
		margin-top: -85px;
		font-size: 80%;
		display: block;
		border: none;
		background: none;
		color: var(--royalBlue);
	}
	.filter{
		left: 0%;
		width: 100%;
		height: 100%;
		bottom: 200%;
	}
	.filter-button{
		font-size: 300%;
		text-align: left;
	}
	.grid-headers{
		margin-top: 0px;
		padding: 0;
		font-size: 190%;
	}
	.colums{
		font-size: 200%;
		text-align: center;
	}
	.filter{
		font-size: 200%;
	}
	.filter h1{
	}
	.filter select{
	}
	.filter input[type="text"],.filter input[type="range"], .filter select{
		font-size: 130%;
		height: 65px;
		width: 250px;
	}
	.filter input[type="button"]{
		border-radius: 8px;
		font-size: 130%;
		height: 85px;
		width: 250px;
	}
	#enter-2, #exit-1{
		margin-bottom: 100px;
		text-align: center;
		font-size: 70%;
		padding-top: 35px;
	}
	#exit-1{
		min-width: 240px;
		height: 100px;
		margin-left: 360px;
	}
	#enter-2{
		padding-top: 20px;
		min-width: 280px;
		min-height: 160px;
		margin-left: 460px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (max-width: 768px) {
  body {background: blue;}
} */
/*@media only screen and (max-width: 599px){
	.row{*/
/*		background: rgb(15,66,99);
		border-radius: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.wrapper{
   		display: grid;
   		grid-gap: 10px;
   	 	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
  	  	grid-template-rows: [row] 30% [row] 30% [row] 25% [row] 30%;
	}
	.wrapper-login{
   	 	display: grid;
   		grid-gap: 10px;
    	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    	grid-template-rows: [row] 25% [row] 20% [row] 20% [row] 45%;
	}
	.wrapper-createMeeting{
    	display: grid;	
   		grid-gap: 10px;
   	 	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    	grid-template-rows: [row] 15% [row] 7% [row] 7% [row] 7% [row] 10% [row] 7%;
	}
	.wrapper-meetingAmdin{
		display: grid;
   		grid-gap: 10px;
   	 	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
   	 	grid-template-rows: [row] 8% [row] 7% [row] 4% [row] 19% [row] 19% [row] 5%;
	}
	.wrapper-meetingUser{
		display: grid;
   		grid-gap: 10px;
    	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
   	 	grid-template-rows: [row] 8% [row] 7% [row] 19% [row] 19%;
	}
	.wrapper-director{
		display: grid;
   		grid-gap: 10px;
    	grid-template-columns: [col] 24% [col] 24% [col] 24% [col] 24%  ;
    	grid-template-rows: [row] 12% [row] 8% [row] 6% [row] 60%;
	}
	.a {
		grid-column: col / span 4;
		grid-row: row ;
	}
	.a-1 {
		grid-column: col / span 4;
		grid-row: row ;
	}
	.b {
		grid-column: col / span 2;
		grid-row: row 2;
	}
	.c {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.d {
		grid-column: col / span 4;
		grid-row: row 3;
	}
	.e {
		grid-column: col / span 4;
		grid-row: row 4;
	}
	.f {
		grid-column: col / span 4;
		grid-row: row 5;
	}
	.g {
		grid-column: col / span 4;
		grid-row: row 6;
	}

	.b-1 {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.c-1 {
		grid-column: col / span 4;
		grid-row: row 3;
	}
	.d-1 {
		grid-column: col / span 4;
		grid-row: row 4;
	}
	.e-1 {
		grid-column: col / span 4;
		grid-row: row 5;
	}
	.f-1 {
		grid-column: col / span 4;
		grid-row: row 6;
	}
	.d-2 {
		grid-column: col  / span 4;
		grid-row: row 3;
	}
	.e-2 {
		grid-column: col / span 4;
		grid-row: row 4;
	}

	.a-3 {
		grid-column: col / span 4;
		grid-row: row ;
	}
	.b-3 {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.c-3 {
		grid-column: col / span 4;
		grid-row: row 2;
	}
	.d-3 {
		grid-column: col / span 4;
		grid-row: row 3;
	}
	.e-3 {
		grid-column: col / span 4;
		grid-row: row 4;
	}
	.login{
		font-size: 150%;
		margin-bottom: 60px;
	}
	.login-button{
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.login-button input{
		margin-top: 30px;
		border: none;
		border-radius: 4px;
		background: var(--royalBlue);
		color: white;
		font-size: 120%;
		min-width: 34%;
		min-height: 26%;
	}
	.email input, .password input{
		min-width: 100%;
		min-height: 70%;
	}
	.password input{
		margin-bottom: 100px;
	}
	#enter-1{
		display: none;
	}
	.text-1, .text-1-1{
		margin-bottom: 0;
		font-size: 110%;
		background-color: white;
	}
	.refToMeeting input{
		min-width: 100%;
		min-height: 45px;
	}
	.enterButton{
		text-align: center;
		height: 100%;
		width: 100%;
	}
	.enterButton input{
		font-size: 120%;
		min-width: 26%; 
		min-height: 45%;
	}
	.link input[type="button"]{
		min-width: 25%;
		min-height: 55px;
	}
	.link input[type="url"]{
		min-width: 72%;
		min-height: 80%;
	}
	.complete{
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.complete input{
		margin-right: 0;
		min-height: 110%;
		min-width: 35%;
		font-size: 120%;
	}
	.timer-admin, .cost-admin{
		min-height: 80%;
		min-width: 100%;
	}
	.cost-admin{
		margin: 0;
	}
	.grid-colums{
		grid-template-columns: 50% 25% 25%;
		grid-gap: 0%;
		height: 100%;
	}
	.colums{
		padding-left: 25px;
		margin-top: 37px;
	}
	.currentUsers{
		grid-template-columns: 50% 50%;
		grid-gap: 2%;
	}
	.currentUser{
		font-size: 120%;
		max-height: 20%;
	}
	.filter-button{
		margin-top: 0;
		margin-bottom: 200px;
	}
	.boxes{
		grid-gap: 0;
		grid-template-columns: [col] 50% [col] 25% [col] 25%;
		min-height: 100%; 
	}
	#rise{
		margin-left: 230px;
		margin-top: -35px;
		font-size: 80%;
		display: block;
		border: none;
		background: none;
		color: var(--royalBlue);
	}
	.filter{
		left: 0%;
		width: 100%;
		height: 100%;
		bottom: 200%;
	}
	.filter-button{
		text-align: left;
	}
}*/